extend layout
block content
    div(class="page-body two-col with-nav")
        div(class="document-nav")
            !{menu}

        div(class="document-content")
            div(class="document-wrap")
                !{html}