
// COLORS
// ---------------------------------------------

$blue                       = #1e95cd
$blue-dark                  = #acbec4
$blue-bg                    = #f2f7f9
$blue-bg-dark               = #dce4e7

$text                       = #636466
$text-strong                = #636466
$title                      = #222

$link                       = $blue
$link-hover                 = #222
$link-active                = #000

$nav-bg                     = $blue-bg-dark
$nav-hover                  = darken($nav-bg, 4%)
$subnav-hover               = darken($nav-bg, 8%)
$nav-border                 = $blue-dark
$nav-light                  = $blue-bg


// Z-INDEX
// ---------------------------------------------

// Over 1000, over anything on the page (popup)
$z-page-nav     = 200
$z-header       = 300



// TYPOGRAPHY
// ---------------------------------------------

// baseline
$base-font-size           = 16px;
$base-line-height         = 24px;

// font families
$f-serif                  = Georgia, 'Times New Roman', serif;
$f-sans                   = 'Dosis', Helvetica, Arial, sans-serif;
$f-heading                = 'Dosis', Helvetica, Arial, sans-serif;
$f-mono                   = 'Inconsolata', 'Lucida Console', Monaco, monospace;


// font size
$f-xsmall                 = 10px;
$f-small                  = 12px;
$f-medium                 = 14px;
$f-large                  = 16px;
$f-xlarge                 = 20px;
$f-xxlarge                = 24px;


// IMAGES
// ---------------------------------------------

// $sprite                   = image-url("sprite.png");


// GRID
// ---------------------------------------------

// vertical
// $total-columns  = 12;
// $column-width   = 60px;
// $gutter-width   = 20px;
// $grid-padding   = 0;
