.jsfiddle {
    border: 2px solid $blue-dark

    width: 100%
    height: 300px
}

.github-embed {
    border-right: 2px solid $nav-bg

    footer {
        background: $nav-bg
        line-height: h()
        text-align: right

        padding: 0 h(.5)
    }
}